/**************************TAGS**************************/
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0077B6;
    --secondary-color: #00B4D8;
    --tertiary-color: #F7FFF7;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 1rem;
    line-height: 2;
    /* also can do margin: 0 auto; */
}

h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat Alternates', sans-serif;
}

hr {
    color: #E38B29;
    width: 4%;
    border: none;
    border-top: 10px dotted;
    margin: 100px auto 100px auto;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
}

/**************************CLASSES**************************/

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
}

.col {
    flex: 1;
    margin: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.bottom-container {
    background-color: #A6E3E9;
    color: #11999E;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.05rem;
    padding: 3% 3%;
}

.contact-me {
    margin: 100px;
}

.contact-me-txt {
    margin: 40px auto 60px;
    width: 40%;
}

.footer-credits {
    color: white;
    font-size: 0.75rem;
    padding: 20px 0;
}

.footer-link {
    width: 50px;
    margin: 5px;
}

.footer-link:hover {
    filter: opacity(0.5);
}

.intro {
    width: 30%;
    margin: auto;
}

.middle-container {
    background-color: white;
    padding: 100px 0 100px 0;
}

.pro {
    text-decoration: underline;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.top-container {
    background-color: #E3FDFD;
    position: relative;
    padding: 100px;
}

/**************************IMAGES**************************/

.art {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.bottom-cloud {
    position: absolute;
    left: 350px;
    bottom: 300px;
}

.computer {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.profile-pic {
    margin: 100px auto 100px auto;
}

.top-cloud {
    position: absolute;
    right: 350px;
    top: 60px;
}

/**************************BUTTONS**************************/

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .btn:hover {
    background-color: var(--secondary-color);
  }
